@import "tailwindcss";

:root {
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-zen-maru);
  background-color: #4789a8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-m-plus-rounded);
}

.markdown-body h1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 0.3em;
  border-bottom: 1px solid #ccc;
}

.markdown-body h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

.markdown-body ul {
  list-style-type: disc;
  padding-left: 1.5em;
  margin: 1em 0;
}

.markdown-body li {
  margin-bottom: 0.5em;
  line-height: 1.6;
}

.markdown-body a {
  color: #1a73e8;
  text-decoration: underline;
}

.markdown-body a:hover {
  color: #0b50b8;
  text-decoration: none;
}

.prose img {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}
